body {

    background-image: url(../images/halftone-yellow/halftone-yellow.png);

}
    
.crystal-img {

    width: 50%;
}

#randomNum {
    color: purple;
    font-weight: bold;
    font-size: 40px;
}

.container {

    margin-top: 25px;
}